Source: rudyraindesktop
Section: misc
Priority: Optional
Maintainer: Rudra <rudrafordev@protonmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: rudyraindesktop
Architecture: all
Depends: gnome-tweaks,
         gnome-shell-extensions,
         extension-manager,
         brave-browser,
         gnome-terminal,
         code,
         vim,
         sudo,
         git,
         flatpak,
         gnome-software-plugin-flatpak,
         curl,
         wget,
         vlc,
         gnome-sushi,
         p7zip-full,
         gnome-disk-utility,
         fonts-inter,
         fonts-jetbrains-mono,
         clang,
         clang++,
         make,
         cmake,
         meson,
         ninja-build,
         pkg-config,
         build-essential,
         libstdc++-dev,
         libc6-dev,
         libgcc-12-dev,
         libunwind-dev,
         libboost-all-dev,
         libfmt-dev,
         libspdlog-dev,
         libglib2.0-dev,
         libgtk-4-dev,
         libadwaita-1-dev,
         gobject-introspection,
         vala,
         libsdl2-dev,
         libsdl2-image-dev,
         libsdl2-mixer-dev,
         libsdl2-ttf-dev,
         libglfw3-dev,
         libglew-dev,
         libopenal-dev,
         mesa-common-dev,
         libvulkan-dev,
         libcurl4-openssl-dev,
         libsoup2.4-dev,
         libssl-dev,
         libnghttp2-dev,
         protobuf-compiler,
         libprotobuf-dev,
         libflatbuffers-dev,
         libyaml-cpp-dev,
         libjsoncpp-dev,
         rapidjson-dev,
         libgstreamer1.0-dev,
         libgstreamer-plugins-base1.0-dev,
         libpipewire-0.3-dev,
         zlib1g-dev,
         libzstd-dev,
         liblz4-dev,
         libsqlite3-dev,
         libleveldb-dev,
         librocksdb-dev,
         libsodium-dev,
         libgcrypt20-dev,
         libargon2-dev,
         linux-image-amd64 | linux-image-arm64 | linux-image-armhf | linux-image-ppc64el | linux-image-s390x | linux-image-riscv64,
         linux-headers-amd64 | linux-headers-arm64 | linux-headers-armhf | linux-headers-ppc64el | linux-headers-s390x | linux-headers-riscv64,
         gnome-core,
         gnome-shell,
         gnome-session,
         gnome-control-center,
         gnome-settings-daemon,
         gdm3,
         mutter,
         libwayland-client0,
         libwayland-server0,
         libwayland-egl1,
         libwayland-cursor0,
         libwayland-bin,
         libwlroots0 | wlroots,
         libpipewire-0.3-modules,
         libspa-0.2-modules,
         mesa-vulkan-drivers,
         mesa-utils,
         vulkan-tools,
         firmware-linux,
         firmware-linux-nonfree,
         firmware-misc-nonfree,
         firmware-iwlwifi,
         firmware-realtek,
         firmware-amd-graphics,
         firmware-atheros,
         firmware-brcm80211,
         firmware-intel-sound
Description: RudyRainOS desktop v1.0.0. Codenamed "Sparks of Rain...Bow Rain"
